html,
body {
	height: 100%;
}

body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
}
header{
   margin-bottom: 20px;
}


hgroup{
   text-align: center;
}

.contenedor{
   width: 300px;
   float: left;
   border: 1px solid #096cb4;
   text-align: center;
   margin: 9px;

}

.img_cls{
   width: 150px;

}

main div div div div h4{
   font-size:20px;
   margin-top: 15px;

}
main div div div div a{
   background: #096cb4;
   width: 100%;
   color: white;
   display: block;
   padding: 10px;  
   text-decoration: none;
   border-radius: 10px;

}
main div div div div a:hover{
   background: #000000;
   color: white;
   text-decoration: none;

}

header div div nav div li div a{
   background: #096cb4;
   width: auto;
   color: white;
   display: block;
   padding: 10px;  
   text-decoration: none;
   margin-top: 1px;
   text-align: center;
}  

header div div nav div ul li img{

   width: 120px;

}

header div div nav div ul li{

   margin-left:425px;
   float: right;

}


header div div nav div li div a:hover{
   background: #000000;
   color: white;
   text-decoration: none;
   
}  
main article div img{
   width: 200px;   
}

main article div a{

   background: #096cb4;
   width: auto;
   color: white;
   display: block;
   padding: 10px;  
   text-decoration: none;
}

.Block_producto{

   border:1px solid #096cb4;

}



/* estilos de la pagina compras*/
.header_cls div div a{
   background: #096cb4;
   width: auto;
   color: white;
   display: block;
   padding: 10px;  
   text-decoration: none;
}


.header_cls div div a{
   font-size:30px;

   margin-left:1000px;
   margin-top: -95px;
   float: right;

}

.header_cls div div a:hover{
   background: #000000;
   color: white;
   text-decoration: none;   
}  

.Btn_cls{
   background: #096cb4;
   width: auto;
   color: white;
   display: block;
   padding: 10px;  
   text-decoration: none;
   text-align: center;  
}

.Btn_cls:hover{
   background: #000000;
   color: white;
   text-decoration: none;    
}

.posicionC_cls{
   width: 300px;
   margin-left: -125px;
   float: left;


}

.posicionS_cls{
   width: 300px;
   margin-left:200px;
   float: left;

}

/* Scroll Personalizado */

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-thumb {
	background: #096cb4;
	border-radius: 5px;
}

.scroll{
   height: 250px;
   overflow-y: scroll;
   border: 1px solid white;
   width: 450px;
}

.scroll::-webkit-scrollbar {
	width: 8px;
   background: rgb(255, 255, 255);
}

.scroll::-webkit-scrollbar-thumb{
   background: #096cb4;
   border-radius: 5px;
   border: 1px solid white;
}

.menu1 {
   width: 100%;
   float: right;
   text-align:right;
 }
 
 .menu1 {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
 }
 
.menu2 {
   float: right;
 }
 
.menu2 a {
   display: block;
   color:white;
 
   padding: 14px 16px;
   text-decoration: none;
 }
 .center_header {
   background: url(../imagenes/header.jpg) no-repeat top center;
   padding: 2em 0;
}

.center_header .title2 {
   text-align: center;
   color: white;
   font-size: 45px;
   font-weight: 600;
   line-height: 1.1;
   margin: 0.3em 0 0 0;
}

.grid_footer {
   background-color: black;
   color: white;
   grid-column: 1 / span 2;
   text-align: center;
   margin: 5px;
   padding: 15px;
 }
 